<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/games/style.css">
  <title>試合一覧</title>
</head>

<body>
  <div id="games_container">
    <ul id="games_list">
      <%- games %>
    </ul>
  </div>
</body>

</html>